 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CS@VT Plan of Study</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="plan of study for CS graduate programs">
	<meta name="author" content="benevolent dictator">

	<!-- Le styles -->
	<style>
	  body {
	    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	  }
	</style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS@VT PoS</a>
        </div>
      </div>
    </div>

    <div class="container">

    	<% if {top_messages} %>
    	<div class="alert alert-danger">
    		<p><b>Errors</b>.</p>
			<ul>
				<% repeat {top_messages} %><li>{message}</li><% end %>
			</ul>
    	</div>
    	<% end %>


      <h3>Try again</h3>
      <p>Select the appropriate starting point: create a new plan of study or upload one you had already started.</p>

        <div class="row">
          <div class="col-md-3 col-md-offset-1 well well-sm">
            <a href="phd/index.php" class="btn btn-primary">New PhD PoS</a>
          </div>

          <div class="col-md-3 col-md-offset-3 well well-sm">
            <a href="ms/index.php" class="btn btn-danger">New MS Thesis PoS</a><br>&nbsp;<br>
            <a href="ms/index.php?course" class="btn btn-danger">New MS Coursework PoS</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 well well-sm">
          <form role="form" action="phd/index.php" method="post" enctype="multipart/form-data">
            <input type="hidden" name="type" value="upload">
            <div class="form-group">
              <label for="inputFile">Upload PoS</label>
              <input type="file" name="file" id="inputFile">
              <!-- <p class="help-block">Example block-level help text here.</p> -->
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Upload PhD PoS">
          </form>

        </div>

          <div class="col-md-3 col-md-offset-3 well well-sm">
          <form role="form" action="ms/index.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <input type="hidden" name="type" value="upload">
              <label for="inputFile">Upload PoS</label>
              <input type="file" name="file" id="inputFile">
              <!-- <p class="help-block">Example block-level help text here.</p> -->
            </div>
            <input type="hidden" name="type" value="upload">
            <input class="btn btn-danger" type="submit" name="submit" value="Upload MS PoS">
          </form>
        </div>
      </div>


    </div> <!-- /container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">CS@VT - Printed on {today}</p>
      </div>
    </div>

    <!-- javascript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed  -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
   

  </body>
</html>
