<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CS@VT Graduate Plan of Study (PoS)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="plan of study for CS graduate programs">
	<meta name="author" content="benevolent dictator">

	<!-- Le styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
  <div class="container">
  	<div class="row">
      <div class="col-md-6">
    		<h3>Instructions</h3>

        <p>This web app allows you to fill out your Plan of Study (PoS). Please
          read this carefully as this is a quick-and-dirty application that
          works in particular ways and does only a few things. The PoS is not saved
          nor is it submitted for you.</p>

        <p><b>Steps to follow:</b>
          <ol>
            <li>Meet with your advisor and plan what courses to take.</li>
            <li>Visit this website and fill out the plan of study.</li>
            <li>Download the plan of study for your records.</li>
            <li>Print the plan of study (from this site).</li>
            <li>Collect signatures from your graduate committee.</li>
            <li>Submit the form to the CS department (giving it to the Graduate Coordinator).</li>
            <li>The department collects the signature of the Graduate Director.</li>
            <li>The plan of study is entered in Banner and approved by the graduate program staff (Director and Coordinator).</li>
            <li>The plan of study is then forwarded to the graduate school.</li>
          </ol>

        <p>A note on error checks. As you fill out the form, the app does a validation
          to check a number of things against the rules
          for plans of study stated in the CS Graduate Handbook.
          It is possible that your plan of study will have
          special circumstances (e.g., transfers, approved cognates out
          of the list of preapproved courses, new special topics) that
          cannot be handled by the app.  In those cases, you can still
          print out the form and submit it, it will just include some
          checks and notices that will make it easier for the department
          to process. Any other out of the norm situation, you can include
          a comment in the form in the space provided.</p>
      </div>

      <div class="col-md-6">
        <h3>Graduate Plan of Study</h3>
        <div class="row well well-sm">
          <div class="col-md-6">
            <h5>PhD: Create a new PoS</h5>
            <a href="phd/index.php" class="btn btn-primary">New</a>
          </div>
          <div class="col-md-6 ">  
            <form role="form" action="phd/index.php" method="post" enctype="multipart/form-data">
              <h5>Upload a previously downloaded form</h5>
              <input type="hidden" name="type" value="upload">
              <div class="form-group">
                <input type="file" name="file" id="inputFile">
              </div>
              <input class="btn btn-primary" type="submit" name="submit" value="Upload">
            </form>
          </div>  <!-- col-md-6 -->
        </div>  <!-- row well well-sm -->

        <div class="row well well-sm">
          <div class="col-md-6">
            <h5>MS Thesis: Create a new PoS</h5>
            <a href="ms/index.php" class="btn btn-danger">New</a><br>&nbsp;<br>
          </div>  <!-- col-md-6 -->
          <div class="col-md-6 ">
            <form role="form" action="ms/index.php" method="post" enctype="multipart/form-data">
              <h5>Upload a previously downloaded form</h5>
              <div class="form-group">
                <input type="hidden" name="type" value="upload">
                <input type="file" name="file" id="inputFile">
                <!-- <p class="help-block">Example block-level help text here.</p> -->
              </div>
              <input type="hidden" name="type" value="upload">
              <input class="btn btn-danger" type="submit" name="submit" value="Upload">
            </form>
          </div>  <!-- col-md-6 -->
        </div>  <!-- row well well-sm -->


        <div class="row well well-sm">
          <div class="col-md-6">
            <h5>MS Coursework: Create a new PoS</h5>
            <a href="ms/index.php?course" class="btn btn-danger">New</a>
          </div>  <!-- col-md-6 -->
          <div class="col-md-6 ">
            <form role="form" action="ms/index.php" method="post" enctype="multipart/form-data">
              <h5>Upload a previously downloaded form</h5>
              <div class="form-group">
                <input type="hidden" name="type" value="upload">
                <input type="file" name="file" id="inputFile">
                <!-- <p class="help-block">Example block-level help text here.</p> -->
              </div>
              <input type="hidden" name="type" value="upload">
              <input class="btn btn-danger" type="submit" name="submit" value="Upload">
            </form>
          </div>  <!-- col-md-6 -->
        </div>  <!-- row well well-sm -->
      </div>  <!-- col-md-6 -->
	  </div> <!-- row -->
  </div> <!-- /container -->

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">CS@VT - {today}</p>
    </div>
  </div>

    <!-- javascript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed  -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
