<p>At most one 4000 level course can be included in a plan of study. Furthermore, if a CS 4000 level course is included, it must be from the list of CS 4000 level courses approved for graduate credit included below.</p>

<ul>
<li>CS4104 - Data and Algorithm Analysis</li>
<li>CS4114 - Introduction to Formal Languages and Automata Theory</li>
<li>CS4124 - Theory of Computation</li>
<li>CS4204 - Computer Graphics</li>
<li>CS4214 - Simulation and Modeling</li>
<li>CS4224 - Performance Evaluation of Computer Systems</li>
<li>CS4234 - Parallel Computation</li>
<li>CS4244 - Internet Software Development</li>
<li>CS4254 - Computer Network Architecture and Programming</li>
<li>CS4304 - Compiler Design and Implementation</li>
<li>CS4414 - Issues in Scientific Computing</li>
<li>CS4504 - Computer Organization</li>
<li>CS4570 - Wireless Networks and Mobile Systems</li>
<li>CS4604 - Introduction to Database Management Systems</li>
<li>CS4624 - Multimedia, Hypertext, and Information Access</li>
<li>CS4634 - Design of Information</li>
<li>CS4704 - Software Engineering</li>
<li>CS4804 - Introduction to Artificial Intelligence</li>
</ul>