<p>Cognate Courses are specially designated graduate-level courses from departments outside of Computer Science. This appendix identifies the list of approved cognate courses. Ph.D. students are required to take a minimum number of 6 credit hours from this list and M.S. students can (but are not required to) take at most 3 credit hours from this list. A cognate may not significantly overlap the content of any other course on a student's Plan of Study.</p>

<p>Students wishing to add a course to this list should submit a request to the AGS, along with documentation supporting the following criterion. The principal requirement is that the course have a strong relationship to computer science (e.g., be an application area of computing). The course must, therefore, have a strong computing component, at a level appropriate to graduate courses in CS (e.g., not just spreadsheets, programming).</p>

<p>Normally, students will be permitted to use as a cognate only courses from this list. However, Ph.D. students may be given permission to substitute a course not on this list; such requests should include a supporting note from the advisor. With the consent of their research advisor, an MS Thesis or Ph.D. student may petition GPC to substitute additional cognate courses in place of required 5000-level courses in CS on their plan of study.</p>

<h3>Approved Cognate Courses</h3>
<ul>
<li>AOE5074 - Computer-Aided Design of Vehicle Structures</li>
<li>AOE6145 - Computational Fluid Dynamics</li>
<li>AOE6146 - Computational Fluid Dynamics</li>
<li>BCHM5024 - Computational Biochemistry for Bioinformatics</li>
<li>CEE5064 - Knowledge-Based Expert Systems</li>
<li>ECE5004 - Network Analysis</li>
<li>ECE5505 - Testing of Digital Systems</li>
<li>ECE5506 - Verification of Digital Systems</li>
<li>ECE5514 - Design of Systems on a Chip</li>
<li>ECE5524 - Pattern Recognition</li>
<li>ECE5530 - Configurable Computing</li>
<li>ECE5534 - Representation and Synthesis of Digital Systems</li>
<li>ECE5554 - The Theory and Design of Computer Vision Systems</li>
<li>ECE5605 - Stochastic Signals and Systems</li>
<li>ECE5714 - Robust Estimation and Filtering</li>
<li>ECE6514 - Applications of Automata Theory to Digital Design</li>
<li>ECE6314 - Microcomputer Applications in Power Systems</li>
<li>ECE6334 - Computational Methods in Power Engineering</li>
<li>ECE6504 - Advanced Topics in Computer Engineering</li>
<li>ECE6604 - Advanced Topics in Communications</li>
<li>EDRE5644 - Questionnaire Design and Survey Research</li>
<li>EDRE6654 - Multivariate Statistics</li>
<li>ESM5984 - ESM Special Study Class on Scientific Visual Analysis and Multimedia</li>
<li>ESM5734 - Introduction to the Finite Element Method</li>
<li>ESM6734 - Finite Element Analysis</li>
<li>GEOG5034 - Analysis of Spatial Data</li>
<li>GEOG5314 - Geographic Information Systems</li>
<li>ISE5104 - Operations Research</li>
<li>ISE5154 - Applied Human Factors Engineering</li>
<li>ISE5304 - Digital Computers in Manufacturing Systems Controls</li>
<li>ISE5314 - Industrial Applications of Robotics Devices</li>
<li>ISE5405 - Optimization</li>
<li>ISE5406 - Optimization</li>
<li>ISE5424 - Simulation</li>
<li>ISE5464 - Queuing Theory</li>
<li>ISE5505 - Operations Research Models</li>
<li>ISE5506 - Operations Research Models</li>
<li>ISE5604 - Human Information Processing</li>
<li>ISE5605 - Human Factors System Design</li>
<li>ISE5606 - Human Factors System Design</li>
<li>ISE5615 - Human Factors Research Design</li>
<li>ISE5616 - Human Factors Research Design</li>
<li>ISE6404 - Graph Theory and Network Flows</li>
<li>ISE6414 - Integer Programming</li>
<li>ISE6424 - Dynamic Programming</li>
<li>ISE6434 - Scheduling and Sequence Theory</li>
<li>ISE6464 - Queuing Networks</li>
<li>ISE6514 - Advanced Topics in Mathematical Programming</li>
<li>ISE6614 - Human Computer Systems</li>
<li>MATH5125 - Abstract Algebra</li>
<li>MATH5126 - Abstract Algebra</li>
<li>MATH5135 - Topics in Number Theory</li>
<li>MATH5136 - Topics in Number Theory</li>
<li>MATH5225 - Real Analysis</li>
<li>MATH5226 - Real Analysis</li>
<li>MATH5235 - Complex Analysis</li>
<li>MATH5236 - Complex Analysis</li>
<li>MATH5244 - Systems and Stability of Differential Equations</li>
<li>MATH5245 - Ordinary Differential Equations</li>
<li>MATH5246 - Ordinary Differential Equations</li>
<li>MATH5425 - Applied Partial Differential Equations</li>
<li>MATH5426 - Applied Partial Differential Equations</li>
<li>MATH5435 - Principles and Techniques of Applied Mathematics</li>
<li>MATH5436 - Principles and Techniques of Applied Mathematics</li>
<li>MATH5454 - Graph Theory</li>
<li>MATH5464 - Combinatorics</li>
<li>MATH5515 - Modeling and Simulation of Biological Systems</li>
<li>MATH5516 - Modeling and Simulation of Biological Systems</li>
<li>MATH5524 - Matrix Theory</li>
<li>MATH5545 - Calculus of Variations and Optimal Control Theory</li>
<li>MATH5546 - Calculus of Variations and Optimal Control Theory</li>
<li>MATH5554 - Approximation Theory</li>
<li>MATH5114 - Specialized Topics in Algebra</li>
<li>MATH5214 - Specialized Topics in Analysis</li>
<li>MATH5344 - Specialized Topics in Topology and Geometry</li>
<li>MATH5415 - Specialized Topics in Applied Mathematics</li>
<li>MATH5516 - Specialized Topics in Applied Mathematics</li>
<li>ME5604 - Computer-Aided Design I</li>
<li>ME6604 - Computer-Aided Design II</li>
<li>PHIL5505 - Symbolic Logic </li>
<li>PHIL5506 - Symbolic Logic </li>
<li>PHIL6504 - Advanced Logic</li>
<li>PPWS5314 - Biological Paradigms for Bioinformatics</li>
<li>PSYC5125 - Organizational Psychology</li>
<li>PSYC5126 - Organizational Psychology</li>
<li>STAT5104 - Probability and Distribution Theory</li>
<li>STAT5204 - Experimental Design and Analysis</li>
<li>STAT5114 - Statistical Inference</li>
<li>STAT5124 - Linear Models Theory</li>
<li>STAT5314 - Statistical Simulation</li>
<li>STAT5344 - Linear and Nonlinear Programming</li>
<li>STAT5414 - Time Series Analysis I</li>
<li>STAT5434 - Markov Chains and Renewal Theory</li>
<li>STAT5454 - Reliability Theory</li>
<li>STAT5464 - Queuing Theory</li>
<li>STAT5504 - Multivariate Statistical Methods</li>
<li>STAT5615 - Statistical Research</li>
<li>STAT5616 - Statistical Research</li>
<li>STAT6105 - Measure and Probability</li>
<li>STAT6106 - Measure and Probability</li>
</ul>