<p>The composition of a Ph.D. advisory committee must be designed taking into account the following considerations:</p>

<ul>
<li>The committee must have at least five members (including the advisor or co-advisors).</li>
<li>At least four members of the committee must hold a PhD or equivalent terminal degree. Any member without a PhD or equivalent terminal degree must have nationally recognized expertise in their field and have research experience.</li>
<li>At least three members must hold tenure track or emeritus positions in the Department of Computer Science.</li>
<li>At least one member of the committee must be from outside the university.</li>
</ul>

<h5>Outside VT Committee Members</h5>


<p>Note that a PhD advisory committee requires an external member. External members must be pre-approved to serve in university PhD committees. This is a step that you must complete before filing the plan of study. 
The policy that describes this rule is available in the <a href="http://graduateschool.vt.edu/graduate_catalog/policies.htm?policy=002d14432c654287012c6542e38200d8" target="_blank">Graduate School Catalog</a>. The form is available at the <a href="http://graduateschool.vt.edu/academics/forms">Graduate School forms</a> page (<a href="http://graduateschool.vt.edu/forms/academics/Grad_Progr_Fac_Addl_Members.doc">direct link</a>).</p>
