For the course number, enter the number at the other institution, for example CSI 345 for a Computer Science and Information course. However, the course number cannot match the number of another course that you enter here (this is a limitation of this bubble-gum-duct tape software, not a graduate school restriction. It will be fixed in a future update). As an example, consider a transfer of CS 5714 for a class at another university, and you also took CS 5714 here at VT. To make the transfer course unique, add an X to the department name (e.g., CSx 5714 for the transfered course).</p>

<p>Remember that you must fill out a Credit Transfer Request Form (<a href="http://www.cs.vt.edu/files/CreditTransferRequestForm.doc"><u>doc</u></a>, <a href="http://www.cs.vt.edu/files/CreditTransferRequestForm.pdf"><u>pdf</u></a>). Transfers must be approved before the PoS is approved.