<p>Courses used on a student's plan of study will normally be courses in Computer Science taken at Virginia Tech or designated cognate courses in other departments at Virginia Tech. However, students entering our graduate program with credit for courses taken at other universities can apply to have a certain amount of that credit transferred to Virginia Tech and applied to their plans of study here.</p>

<p>Ph.D. students may transfer a maximum of fifteen hours (five regular courses) to be applied toward a Ph.D. plan of study. Courses taken at other universities will normally be approved for use on a plan of study if the course is essentially the same as a Virginia Tech course which can appear on the student's plan of study. Credit for courses that are not essentially the same as a Virginia Tech course might be permitted as a general CS elective at the 5000- or 6000-level. Such courses might be approved within a specific CS area, in which case they would count as a regular course within that area for the purpose of fulfilling breadth requirements. Non-computer science courses that have not been designated as cognate courses will normally be approved for use on a plan of study (again, probably as general electives) if the student's advisor believes that this course is an integral and essential part of a student's plan of study.</p>

<p>A course may be transferred only if it was taken while the student was enrolled as a graduate student. A course may not be transferred if it was used to satisfy requirements for any undergraduate degree. To be eligible for credit, the student must have earned at least a grade of B or its equivalent, and the course must be taken at an accredited graduate institution. We must have on file an official transcript from the institution that shows the course and grade earned.</p>

<p>Transfer of courses must be approved with a separate form and procedure. Requests for transfer of credit are typically made during your first semester at Virginia Tech, but can be applied for and approved at any time. For each course you request to be transferred, print a copy of the credit transfer request form (see Appendix E of the <a href="https://www.cs.vt.edu/files/GraduateCSHandbook.pdf" target="_blank">Graduate Handbook</a>).</p>

<p>In general, the procedure is to first determine an appropriate faculty member who will validate that equivalent credit has been done elsewhere. This is typically a faculty member who teaches a corresponding course here or, if such a course does not exist at Virginia Tech, a faculty member who is most knowledgeable in the cognizant area of the course. Depending on the nature of the course (CS course or cognate course), the appropriate faculty member might be within or outside the CS department. The student presents necessary documentation on the coursework to this faculty member who approves the transfer of credit.</p>

<p>More details are available in the <a href="https://www.cs.vt.edu/files/GraduateCSHandbook.pdf" target="_blank">Graduate Handbook</a>.</p>