<% if {msthesis} %>
<p>An MS Thesis plan of study requires at least 30 credits in CS at the 4000 level or above. There is a maximum of 1 4000 level, and a minimum of a 1 6000 level.  The rest of the CS courses must be at the 5000 level or above.</p>

<p>Credits from CS 5894 (Final Examination), CS 5904 (Project and Report), CS 5944 (Graduate Seminar), CS 5974 (Independent Study), and CS 7994 (Research and Dissertation) cannot be used to satisfy any M.S. thesis credit requirements.</p>

<p>The course CS5974 Independent Study can only count for 3 credits. </p>
<% else %>

<p>An MS Coursework plan of study requires at least 33 credits in CS at the 4000 level or above. There is a maximum of 1 4000 level, so the rest of the CS courses must be at the 5000 level or above.</p>

<p>Credits from CS 5014 (Research Methods in Computer Science), CS 5894 (Final Examination), CS 5904 (Project and Report), CS 5944 (Graduate Seminar), CS 5994 (Research and Thesis), and CS 7994 (Research and Dissertation) cannot be used to satisfy any M.S. coursework credit requirements.</p>
<% end %>
<ul>
<li>CS5104 (area 1) - Computability and Formal Languages</li>
<li>CS5114 (area 1) - Theory of Algorithms</li>
<li>CS6104 (area 1) - Advanced Topics in Theory of Computation</li>
<li>CS5204 (area 2) - Operating Systems</li>
<li>CS5214 (area 2) - Modeling and Evaluation of Computer Systems</li>
<li>CS5224 (area 2) - Systems Simulation</li>
<li>CS5234 (area 2) - Advanced Parallel Computation</li>
<li>CS5244 (area 2) - Internet Software</li>
<li>CS6204 (area 2) - Advanced Topics in Systems</li>
<li>CS5304 (area 3) - Translator Design and Construction</li>
<li>CS5314 (area 3) - Programming Languages</li>
<li>CS5465 (area 4) - Numerical Analysis (MATH)</li>
<li>CS5466 (area 4) - Numerical Analysis (MATH)</li>
<li>CS5474 (area 4) - Finite Difference Methods for Partial Differential Equations (MATH)</li>
<li>CS5484 (area 4) - Finite Element Methods for Partial Differential Equations (MATH)</li>
<li>CS5485 (area 4) - Numerical Analysis and Software (MATH)</li>
<li>CS5486 (area 4) - Numerical Analysis and Software (MATH)</li>
<li>CS5504 (area 5) - Computer Architecture (ECE)</li>
<li>CS5510 (area 5) - Multiprocessor Programming (ECE)</li>
<li>CS5560 (area 5) - Network and Computer Security (ECE)</li>
<li>CS5565 (area 5) - Network Architecture and Protocols (ECE)</li>
<li>CS5566 (area 5) - Network Architecture and Protocols (ECE)</li>
<li>CS5525 (area 6) - Data Analytics I (STAT)</li>
<li>CS5526 (area 6) - Data Analytics II (STAT)</li>
<li>CS5604 (area 6) - Information Storage and Retrieval</li>
<li>CS5614 (area 6) - Database Management Systems</li>
<li>CS5704 (area 7) - Software Engineering</li>
<li>CS5744 (area 7) - Software Design and Quality</li>
<li>CS5714 (area 8) - Usability Engineering (ISE)</li>
<li>CS5724 (area 8) - Models and Theories of Human-computer Interaction</li>
<li>CS5734 (area 8) - Computer-supported Cooperative Work</li>
<li>CS5754 (area 8) - Virtual Environments</li>
<li>CS5764 (area 8) - Information Visualization</li>
<li>CS5774 (area 8) - User Interface Software</li>
<li>CS5804 (area 9) - Introduction to Artificial Intelligence</li>
<li>CS5814 (area 9) - Digital Picture Processing</li>
<li>CS5124 (area 1) - Algorithms in Bioinformatics</li>
<li>CS5424 (area 1) - Computational Cell Biology</li>
<li>CS5634 (area 1) - Data Management in Bioinformatics</li>
<li>CS5854 (area 1) - Computational Systems Biology</li>
</ul>