<p>At least one CS 6000 level course is required in an MS Thesis PoS.</p>

<ul>
<li>CS6104 - Advanced Topics in Theory of Computation</li>
<li>CS6204 - Advanced Topics in Systems</li>
<li>CS6304 - Advanced Topics in Languages and Translation</li>
<li>CS6404 - Advanced Topics in Mathematical Software</li>
<li>CS6504 - Advanced Topics in Computer Architecture</li>
<li>CS6564 - Multimedia Networking</li>
<li>CS6570 - Advanced Foundations of Networking</li>
<li>CS6604 - Advanced Topics in Data and Information</li>
<li>CS6704 - Advanced Topics in Software Engineering</li>
<li>CS6724 - Advanced Topics in Human-computer Interaction</li>
<li>CS6804 - Advanced Topics in Intelligent Systems</li>
<li>CS6824 - Advanced Topics Computational Biology & Bioinformatics</li>
</ul>
