<p>All graduate students have access to a faculty advisor who can help with both academic advising (i.e., issues related to getting a degree) and career advising. </p>

<% if {msthesis} %>
MS Thesis students should select a faculty member to act as their research and course advisor as early as possible in their academic career and definitely by the time their plan of study is due. The advisor must be a full-time Virginia Tech faculty position with either a regular, emeritus, or courtesy appointment in the Department of Computer Science, and hold a Ph.D. or equivalent terminal degree.</p>

<p>The composition of an MS Thesis advisory committee must be designed taking into account the following considerations:</p>

<ul>
<li>The committee must have at least three members (including the advisor or co-advisors).</li>
<li>At least two members of the committee must hold a PhD or equivalent terminal degree. Any member without a PhD or equivalent terminal degree must have nationally recognized expertise in their field and have research experience.</li>
<li>At least two members must hold tenure track or emeritus positions in the Department of Computer Science.</li>
<li>A person from outside the university can serve as an advisory committee member with the permission of the chair of the advisory committee.</li>
</ul>

<h5>Outside VT Committee Members</h5>

<p>External members must be pre-approved to serve in university committees. This is a step that you must complete before filing the plan of study. 
The policy that describes this rule is available in the <a href="http://graduateschool.vt.edu/graduate_catalog/policies.htm?policy=002d14432c654287012c6542e38200d8" target="_blank">Graduate School Catalog</a>. The form is available at the <a href="http://graduateschool.vt.edu/academics/forms">Graduate School forms</a> page (<a href="http://graduateschool.vt.edu/forms/academics/Grad_Progr_Fac_Addl_Members.doc">direct link</a>).</p>

<% else %>

<p>The composition for an M.S. coursework advisory committee typically consists of three members as follows:
<ul>
<li>The chair of the committee (advisor) is the instructor for the CS 5974 (Independent Study) course that was used to satisfy the M.S. coursework requirements. If the final exam requirement is met through the use of the qualifying exam, the chair of this exam serves as the advisor. This person must be a full-time Virginia Tech faculty position with either a regular, emeritus, or courtesy appointment in the Department of Computer Science, and hold a Ph.D. or equivalent terminal degree.</li>

<li>The Associate Dept. Head for Graduate Studies (Director of the Graduate Program) and the Associate Department Head for Undergraduate Studies typically serve as the second and third members.</li>
</ul>

<% end %>



