<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CS@VT Graduate Plan of Study</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="plan of study for CS graduate programs">
	<meta name="author" content="benevolent dictator">

	<!-- Le styles -->
	<style>
	  body {
	    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	  }
	</style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CS@VT Graduate Plan of Study</a>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Instructions</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row">
		<h1>Instructions for preparing your MS Thesis Plan of Study</h1>

		<h3>Goals</h3>
		<p>The Plan of Study is an official University document that serves as a “contract” between the student and the department. It details the degree program, list of courses along with the semesters they will be taken, and the advisory committee. Separate plans of study are required for M.S. and Ph.D. degrees.</p>

		<h3>Process</h3>
		<p>The student prepares the plan of study in consultation with the advisory committee. The prepared plan of study is printed and signatures are collected from the advisory committee. Collecting the signatures is the student's responsibility. The student then submits the form with signatures CS department (graduate coordinator). There, it is entered online into a university provided system and approved by the Graduate Director. The plan of study is then submitted to the Virginia Tech graduate school for its final approval. <b>This is a process that takes several weeks, so don't do it too late.</b></p>

		<p>Note that there are a number of milestones in your graduate program that require a plan of study to be on file.  Scheduling a prelim exam is one of them.  If you are an international student, you must have a plan of study on file before you go on an internship.  So, do not delay and plan it out ahead of time.</p>

		<p>A plan of study can be submitted and accepted only ONCE for a given degree. However, once a plan of study is on file, it can be changed by filing a Request for Plan of Study Changes form. In other words, a new Plan of Study form is cannot be used to make changes.</p>

		<!-- update PHD plans of study to MS -->
		<p>The graduate school encourages that plans of study be submitted as early as possible; As of August 2007, it stipulates that plans of study are <b>due by the end of the third academic semester for doctoral students</b>. 
		The department recommends that MS thesis students file a plan of study as soon as they know they will be doing a thesis. MS Coursework-only students must file their plan of study prior to the beginning of their third semester at Virginia Tech.</p>


 		<h3>Steps to follow</h3>
		<ol>
			<li>If you have courses to transfer from another graduate institution, remember to fill out the <span class="label label-info">Credit Transfer Request Form</span> (<a href="http://www.cs.vt.edu/files/CreditTransferRequestForm.doc"><u>doc</u></a>, <a href="http://www.cs.vt.edu/files/CreditTransferRequestForm.pdf"><u>pdf</u></a>). Without it, the plan of study will not be approved. You should do this in your first semester at VT or as soon as possible after that.</li>

			<li>Study the course offerings. The departmental website has a list of <a href="https://www.cs.vt.edu/graduate/AnticipatedCourseOfferings">Anticipated Course Offerings</a> for the next year or two. In addition, at the bottom of that page, there is a list of CS professors planning to offer 6000-level courses in upcoming semesters. When you consider that the 6000 courses are typicall advanced topics with designated areas (e.g., CS6824 Adv Topics Comp Biol & Bioinf), then you have within your reach all the courses that you should take.</li>
		
			<li>Meet with your advisor and discuss the classes you will take to complete your degree requirement.</li>

			<li>Fill out the plan of study. You can do it using the old form (<a href="http://www.cs.vt.edu/files/PhDPOS.doc"><u>doc</u></a>, <a href="http://www.cs.vt.edu/files/PhDPOS_0.pdf"><u>pdf</u></a>), or you can use the online form (this web app).</li>

			<li>If you are using the web app (which is why you are reading this, right?), press <span class="label label-primary">Validate</span> after a few changes, to udpate the checks and validations.</li>

			<li>When you have completed the plan of study, press <span class="label label-primary">Print</span> to generate a printable version.</li>

			<li>An MS Thesis advisory committee DOES NOT require an external member.</li>

			<li>Print the copy and collect signatures from your advisory committee.</li>

			<li>Turn in the printed copy to the Graduate Coordinator ({coordinator}) in the main CS office in KWII.</li>
		</ol>


		<h3>Random details for the form</h3>
		<ul>
			<li>All the fields are case insensitive.  The form tries to normalize all values entered to be consistent, but you can type them in upper or lower case.</li>

			<li>In several places you have to enter an academic term. <span class="label label-primary">Terms</span> are written as "semester year". The semester is either Fall, Spring or Summer.  The year is a 4 digit numeric representation of the year (e.g. 2014).  Do not enter the year as a two digit representation.</li>

			<li><span class="label label-primary">Course numbers</span> are entered in the form of "dept number", where dept is a character string of length 2 or more representing the department (e.g., ECE, CS, ISE, etc.). The number is a 4 digit number for the course. Note there is a space between the dept and the number, that is required.</li>

			<li><span class="label label-primary">Breadth</span> area is either selected by hand for transfer courses or calculated automatically from the list available in the <a href="http://www.cs.vt.edu/files/GraduateCSHandbook.pdf">CS Graduate Handbook</a>.</li>
		</ul>
		</div>
    </div> <!-- /container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">CS@VT</p>
      </div>
    </div>

    <!-- javascript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed  -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
